.container-card {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 2rem;
    padding: 3rem 2rem;
}


@media screen and (max-width: 480px) {

    .container-card {
        padding: 3rem 1rem;
    }

    .project-desc p:nth-child(2) {
        font-size: 0.9rem; /* titre légèrement plus petit */
    }

    .project-desc p:nth-child(3) {
        font-size: 0.8rem; /* description plus petite */
    }
}