.container-card {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 2rem;
    padding: 3rem 1rem;
}

.container-card::-webkit-scrollbar {
  display: none;
}